---
layout: standard_layout.hbs
---
<section>
    <header>
        <h1>About Me</h1>
    </header>
    <p>

    </p>
</section>

<section>
    <header>
        <h1>About This Site</h1>
    </header>
    <p>
        This site was built using <a href="http://assemble.io/">Assemble</a>'s static site generator. Templates were
        written in Handlebars.
    </p>
</section>
