---
layout: standard_layout.hbs
---
{{#firstWithPropVal projects "projectName" projectName}}
    <section>
        <header>
            <h1>{{projectName}}</h1>
        </header>


    </section>
{{/firstWithPropVal}}
